body {
    background-color:cornflowerblue;
    font-family: Optima, Verdana, Arial;
    font-size: 18px;
}

p {
    color:firebrick;
}

#welcome {
    text-shadow: 1px 1px 1px white, 2px 2px 1px white;
    text-align: center;
}

#nameHeading{
    text-shadow: 1px 1px 1px white, 2px 2px 1px white;
    text-align: center;
}

#list {
    display:inline-block;
    color:firebrick;
}